body {
    background-color: lightgreen;
}

.main-conatiner {
    margin: -37px auto 20px;
    /*margin: 0 auto;*/
    width: 900px;
    height: 1450px;
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;
    min-height: 900px;
}

.next-conatiner {
    margin: 150px auto;
    width: 900px;
    height: 350px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    min-height: 200px;
}

.thbs-row {
    padding: 20px;
}

.next-row {
    padding: 80px 90px;
}

.button {
    padding: 0px 90px;
}

.t-color {
    color: black;
}

.thbs-text{
     width: 200px;
     float: left;
     font-size: 12px;
}

.thbs-graphics {
    float: right;
    
}

.t-image {
    width: 100%;
}

.text {
    width: 300px;float: left;font-size: 18px;
}

.clear {
    clear: both;
}

.s-border {
     border-bottom: 1px solid gray;
}
.center {
display: inline-block;
margin-left: 50%;
margin-right: 50%;
}

.center-content {
    display: block;
    margin-left: 40%;
    margin-right: 45%;
    width: 300px;
    }


